{% extends "home/home.html" %}
{% load static %}
{% block style %}
<script>
    var gridData = JSON.parse('{{ grid|safe }}');
    var solutionData = JSON.parse('{{ solution|safe }}');
</script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/playsudoku.css' %}">
<script src="{% static 'js/playsudoku.js' %}" type="module"></script>
<script src="{% static 'js/stack.js' %}" type="module"></script>
<script src="{% static 'js/notes.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<div id="cover"></div>

<div id="overlay" class="invisible">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="difficulty remove">
    <div class="menu">
        <h1>Choose the difficulty of the puzzle</h1>
    </div>
    <div class="choices">
        {% csrf_token %}
        <div class="easy">
            <Button id="dif-easy"> easy </Button>
        </div>
        <div class="medium">
            <Button id="dif-medium"> medium </Button>
        </div>
        <div class="hard">
            <Button id="dif-hard"> hard </Button>
        </div>
        <div class="expert">
            <Button id="dif-expert"> expert </Button>
        </div>
    </div>
</div>

<div class="play remove">
    <div class="left-div">
        <div id="grid"></div> </br>

        <div class="displayHint remove">
            <div class="hintContent d-flex flex-column justify-content-end">
                {% csrf_token %}
                <div class=" close">
                    <button type=" button" id="close" class="btn-close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="hints">
                    <p id="hint-text"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="right-div">
        <div class="buttons">
            <div class="note">
                <Button id="enableNotes"> Notes </Button>
            </div>

            <div class="back">
                <Button id="undo"> Undo </Button> </br>
            </div>

            <div class="hints">
                <Button id="hint"> Hint </Button> </br>
            </div>

            <div class="complete">
                <Button id="solve"> Solve </Button> </br>
            </div>
        </div>

        <div id="complete" style="display: none;">
            <h1 style="padding: 20px;">Congratulations!</h1>
            <div class="choices">
                <span><a href="/home"><button>Home</button></a></span></br>
                <span><a href="/PlaySudoku"><button>Play Sudoku</button></a></span></br>
                <span><a href="/PlayKillerSudoku"><button>Play Killer Sudoku</button></a></span></br>
                <span><a href="/Upload"><button>Upload A puzzle</button></a></span></br>
            </div>
        </div>

        <div id="values"> </br></div>
    </div>
</div>
{% endblock %}