{% extends "home/home.html" %}
{% load static %}
{% block style %} 
<script>
    var gridData = JSON.parse('{{ grid|safe }}');
    var solutionData = JSON.parse('{{ solution|safe }}');
</script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/playsudoku.css' %}">
<script src="{% static 'js/playsudoku.js' %}" type="module"></script>
<script src="{% static 'js/stack.js' %}" type="module"></script>
<script src="{% static 'js/notes.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<div class="play">
    <div id="grid"></div> </br>

    <div class="buttons">
        <div class="note"> 
            <Button id="enableNotes"> Notes </Button>
        </div> 
    
        <div class="back">
            <Button id="undo"> Undo </Button> </br>
        </div>

        <div class="hints">
            <Button id="hint"> Hint </Button> </br>
        </div>

        <div class="complete">
            <Button id="solve"> Solve </Button> </br>
        </div>
    </div>

    <div id="complete" style="display: none;"> 
        <h1 style="padding: 20px;">Congratulations!</h1>
        <div class="choices">
            <span><a href="/home"><button>Home</button></a></span></br>
            <span><a href="/PlaySudoku"><button>Play Sudoku</button></a></span></br>
            <span><a href="/PlayKillerSudoku"><button>Play Killer Sudoku</button></a></span></br>
            <span><a href="/Upload"><button>Upload A puzzle</button></a></span></br>
        </div>
    </div>

    <div id="values"> </br></div>
</div>
{% endblock %}