#grid {
    /* Setups the full size of the grid with some additional css */
    width: 540px;
    height: 540px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* adding padding on top */
.play,
.difficulty {
    padding-top: 30px;
}

/* adding padding on top and centering buttons*/
.choices {
    padding-top: 10px;
    text-align: center;
}

/* centering the title */
.difficulty h1 {
    text-align: center;
}

/*The css for each individual cell in the grid*/
.cell {
    /* the dimensions of the cells */
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;


    /* text css and placement */
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* The css for the numbers button options */
#values {
    width: 540px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: flex;
    padding-top: 20px;
}

.number {
    /* the dimensions of each individual number buttons */
    width: 60px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;

    /* Alignment of the numbers */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Change the colour of a cell when clicked on*/
.selected-tile {
    background-color: rgb(0, 179, 255) !important;
}

/* Creates a thicker horizontal line */
/*This is to split the grid into the 3x3 mini boxes*/
.horizontal {
    border-bottom: 2px solid black;
}

/* Creates a thicker verticle line */
.vertical {
    border-right: 2px solid black;
}

/* removing the borders from the buttons. */
#enableNotes,
#undo,
#solve,
#hint {
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

/* Make the notes and undo button appear in the centre*/
.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*Adding a gap between the notes and undo button*/
.back,
.note,
.complete,
.hints {
    padding: 10px;
}

/* Adding a color when the notes button is clicked */
.activeButton {
    background-color: red;
    color: white !important;
}

/* the dimension of the individual notes cell */
.noteCell {
    width: 19px;
    height: 19px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* change the color of the text if the guess is wrong */
.incorrectGuess {
    color: red !important;
}

/* change the color of the selected cell */
.selectedSquare {
    background-color: rgb(63, 191, 220);
}

/* making a div disappear */
.remove {
    display: none !important;
}

/* centre the congratulations message */
#complete {
    text-align: center;
}

/* make the congratulation text appear in white */
#complete h1 {
    color: white;
}

/* displays the spinner */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

/* makes the div invisible */
.invisible {
    display: none;
}

/* blurs the background and disbale all features. */
.disable {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* making the hits position centered */
.displayHint {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* seting the width and colour of the content */
.hintContent {
    background-color: white;
    width: 540px;
    display: flex;
}

/* making the hist display in the center */
.hints {
    text-align: center;
}

/* setting the text clolur to black. */
.hints p {
    color: black !important;
}

.hintContent button {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: black;
    background: none;
    padding: none;
    border: none;
}

@media (max-width: 768px) {
    #grid {
        height: 320px;
        width: 320px;
    }

    /* seting the width and colour of the content */
    .hintContent {
        background-color: white;
        width: 320px;
        display: flex;
    }

    .cell {
        height: 35px;
        width: 35px;
        padding: 5px;
        font-size: 10px;
    }

    .noteCell {
        height: 7px;
        width: 7px;
        font-size: 6px;
    }

    #values {
        width: 320px;
        height: 50px;
    }

    .number {
        /* the dimensions of each individual number buttons */
        width: 32px;
        height: 32px;
        font-size: small;
    }

    #enableNotes,
    #undo,
    #solve,
    #hint {
        border: 0;
        border-radius: 10px;
        padding: 5px;
        font-size: small;
    }

    /* setting the text clolur to black. */
    .hints p {
        color: black !important;
        font-size: small;
        padding: 3px;
    }
}