{% extends "home/home.html" %}
{%load static%}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/killersudoku.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/playsudoku.css' %}">
<script src="{% static 'js/upload.js' %}" type="module"></script>

{% endblock %}

{% block content %}
<div id="cover"></div>
<div class="UploadContainer">
    <div class="puzzleType" id="type">
        <div class="heading">
            <h2> What type of puzzle do you want to upload?</h2>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="options">
                <label><input id="sudoku" type="radio" name="group" value="sudoku"> Sudoku </label><br>
                <label><input id="ksudoku" type="radio" name="group" value="killerSudoku"> Killer Sudoku </label><br>
            </div>
            <div class="uploadImage">
                <div style="display: block;">
                    <label for="imageUpload">Choose an image to upload:</label>
                </div>
                <div style="display: block;">
                    <input type="file" name="image" id="imageUpload" accept="image/*">
                </div>
            </div>
            <div class="submit">
                <button id="processImage"> Process Image </button>
            </div>
        </form>
    </div>

    <div id="overlay" class="invisible">
        <div class="spinner-border" id="spinner" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>

    <div class="invisible sudoku" id="sudokuDiv">
        <div class="play">
            <div class="heading">
                <h2> Please check if this is your puzzle! </h2>
            </div>
            <div id="grid"></div> </br>

            <div id="values"> </br></br></div>
            <div class="set">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button id="set"> Set Puzzle </button>
                </form>
            </div>
        </div>
    </div>

    <div class="invisible killerSudoku" id="ksudokuDiv">
        <div class="play">
            <div class="heading">
                <h2> Please check if this is your puzzle! </h2>
            </div>
            <div id="grid1"></div> </br>

            <div class="values"> </br></br></div>
            <div class="set">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button id="set1"> Set Puzzle </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}