{% extends "home/home.html" %}
{%load static%}
{% block style %} 
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/upload.css' %}">
<script src="{% static 'js/upload.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<div class="UploadContainer">

    <div class="puzzleType">
        <div class="heading">
            <h2> What type of puzzle do you want to upload?</h2>
        </div>
        <div class="options">
            <label><input type="radio" name="group" value="sudoku"> Sudoku </label><br>
            <label><input type="radio" name="group" value="killerSudoku"> Killer Sudoku </label><br>    
        </div>
        <div class="uploadImage">
            <label for="imageUpload">Choose an image to upload:</label>
            <input type="file" name="image" id="imageUpload" accept="image/*">
        </div>
        <div class="submit">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
            <button id="processImage"> Process Image </button>
        </div>
    </div>

</div>
{% endblock %}